header {
    background-image: url(raftingbanner.jpg);
    height: 200px;
    width: 80%;
    margin-left: 10%
}

#logodiv {
    width: 80%;
    height: auto;
    margin-left: 14%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-top: 2%;

}

#logo{
    background-color:darkkhaki;
    border: solid;
}

nav {
    background-color: #A07A58;
    width: 80%;
    margin: auto;
    margin-left: 10%;
    margin-top: -12%;
    border: solid;
    background-image:
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #A07A58;
    display: flex;
    justify-content: center;

}

li {
    width: 15%;
    border-left: solid;
    border-left-color: black;
    border-left-width: 2px;

}

#lastnav{
    border-right: solid;
    border-right-width: 2px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
main {
    width: 80%;
    margin: auto;
    margin-top: -7%;

}

body {
    margin: 0;
    background-color:darkolivegreen;

}

#bancont {
    background-image: url(raftingbanner.jpg);
}

#banner {
    width: 100%;
}

p {
    padding: 0px;
    margin: 0px;
}

#one {
    background-color: #478187;
    margin-bottom: 0px;
    border-radius: 10px;
    padding: 10px;
    display: flex;

    margin-bottom: 30px;
}

#r1c1 {
    width: 48%;
    text-align: center;
    padding: 5%;

}

#p1 {
    line-height: 200%;
    font-size: 110%;
}

#r1c2 {
}

#middle {

    margin-left: 10px;
    background-color: #969696;
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
}

#two {
    background-color: #478187;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

#r3c1 {
    width: 48%;
    text-align: center;
    padding: 5%;

}

#p2 {
    line-height: 200%;
    font-size: 110%;
}

#r3c2 {

}

#raft1 {
    margin-top: 3%;
    margin-left: 5%;
    width: 90%;
    height: auto;
}

h2 {
    font-family:
}

#raft2 {
    margin-top: 1%;
    margin-left: 5%;
    width: 90%;
    height: auto;
}

footer  {
    background-color: cornsilk;
    margin-top: 2.5%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 7px;
}
